/* layout */
* { margin:0; padding:0; border:none; }
img { border:none; }
body { width:100%; _text-align:center; }
#wrap { width:899px; margin:0 auto; _text-align:left; }
#navigation { width:897px; height:208px; position:relative; top:6px; left:auto; z-index:10; padding:0; }
#gameStart { width:120px; height:120px; position:absolute; top:100px; margin-left:32px; z-index:5; } /* top + 30px(nexon GNB) */
#contentsWrap { width:100%; }
#contentsNavi { width:204px; float:left; _margin-right:-10px;}
#loginBox { height:134px; }
#subMenu { height:249px; margin-bottom:8px; text-align:left; }
#contentsBody { width:685px; float:right; margin:0 0 0 5px; }
#footer { height:100px; padding:10px 0 0 115px; }
.clear{ display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important; }


/* common font and etc... */
* { /*font:normal 12px,宋体; color:#999999;*/ }
input, textarea { color:#999999; }
body { font-family: arial; font-size:12px; color:#999999; line-height:20px; text-align:center; }
a:link, a:visited { font-family:arial; font-size:12px; color:#363636; text-decoration:none; }
a:hover, a:active { text-decoration:underline; }
ul, li, ol, dl, dt, dd { list-style-type:none; vertical-align:top; }
img { border:none; }
.block { display:block; }
div.paging a { color:#7ba7c5; }
.nodata { padding:100px 10px !important; vertical-align:middle !important; text-align:center !important; }

*html .png24 {tmp:expression(setPng24(this)); }
tr.current { background-color:#ecf9ff; }
