body 
{
	margin: 0;
	padding; 0;
}

.box
{
	position: absolute
	width: 500px;
	background: #262626;
	cursor: url(images/normal.png), pointer;
}
.test {
    background:gray;
    width:200px;
    height:200px;
 cursor:url('http://upload.wikimedia.org/wikipedia/commons/d/de/POL_apple.jpg');
}